@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, 
body{
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	background-color: #0C0E10 !important;
	color: #fff !important;
}

a{
	text-decoration: none;
	color: #666;
}

.container{
	margin-bottom: 5%;
}

.container h1{
	margin-bottom: 50px;
}
/* --- Banner -------------------------- */
#banner{
	width: 100%;
	height: 70%;
	background: url(https://images.unsplash.com/photo-1493584753368-64a38a466b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80) 0 0 repeat;
	background-attachment: fixed;
	position: relative;
}

#banner #overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(img/overlay.png) 0 100% repeat-x;
}


#logo{
	width: 100%;
	position: absolute;
	bottom: 10%;
	z-index: 5;
	text-align: center;
}

#logo img {
	cursor: pointer;
	display: inline-block;
	width: 128px;
	height: 128px;
	border: 3px solid rgba(255,255,255,.5);
	border-radius: 50%;
}

#logo img:hover{
	border: 3px solid rgba(255,255,255,.7);
}

#logo h1{
	margin: 0 auto;
	text-align: center;
	font-family: 'Montez', cursive;
	font-size: 100px;
	color: #eee;
	text-shadow: 1px 1px 1px #000, 1px 2px 3px #555;
}

#logo #jobdesc{
	display: block;
	width: 100%;
	text-align: center;
	margin: 5px auto;
	color: #eee;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

/* --- Gallery ------------------------- */

.gallery{
	display: table;
	width: 100%;

  height: auto;
	margin: 0 auto;
	text-align: center;
}

.gallery .box{
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}

.gallery .box img{
	width:100%;
	height: auto;
	max-width: 150px;
}

/* --- Gallery Design------------------------- */

.gallery-design{
	display: table;
	width: 100%;
  	height: auto;
	margin: 0 auto;
	text-align: center;
}



.box-design img{
	width:100%;
	height: auto;
	max-width: 900px;
	margin-bottom: 5%;
	border-radius: 20px;
}
/* --- Section ------------------------- */

section{
	width: 900px;
	max-width: 900px;
	margin: 40px auto;
}

.section{
	display: table;
	width: 100%;
}

.section .content{
	display: table-row;
	width: 100%;
}
.section .box{
	display: table-cell;
	padding: 10px;
	width:25%;
}

.section .box svg{
	display: block;
	margin: auto;
}

.section .box h3{
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.section .box p{
	padding: 10px;
	line-height: 1.5em;
	text-align: center;
}

.section .box img{
	width:100%;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

/* carousel */

.carousel-inner{
	position: relative;
	width: 900px;
	max-width: 900px;
	text-align: center;
	margin: 20px auto;
	border-radius: 10px;
	background: #bd9578;
	color: #fff;
}

.carousel-inner h4{
	margin: 50px;
		display: block;
		line-height: 2em;
}

.carousel-inner span{
	position: absolute;
		right: 0;
		bottom:0;
		padding: 5px;
		background: rgba(0, 38, 51, .5);
		font-size: 11px;
}

/* footer */

footer{
	border-top: 3px solid #ddd;
	padding: 30px auto;
	display: table;
	width: 900px;
	max-width: 900px;
	margin: 40px auto;
	font-size: 12px;
}
footer a{
	text-decoration: none;
	color: #fff;
	padding: 2px;
}

footer a:hover{
	color: rgb(241, 181, 17);
}

footer .content{
	width: 100%;
	display: table-row;
	vertical-align: center;
}
footer .box{
	display: table-cell;
	padding: 10px;
	width: 50%;
}

footer .box:nth-child(2){
	text-align: right;
}


@media only screen and (max-width: 768px){
	#banner{
		height: 101%;
		min-height: 350px;
	}
	#logo h1{
		font-size: 75px;
	}
	
	section,
	.gallery,
	.carousel-inner,
	footer{
		width: 90%;
	}
	.gallery{
		padding: 0;
	}
}

@media only screen and (max-width: 600px){
	#banner{
		height: 101%;
		min-height: 350px;
	}
	#logo h1{
		font-size: 75px;
	}

	.section .box{
		margin:auto;
		display: block;
		width: 80%;
		padding: 5%;
		border-radius: 0;
	}
}